
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="tagble table-bordered">
    <tr>
        <th>ID</th>
        <th>Kategori</th>
        <th>Durum</th>
    </tr>

    <tr>
        <td>1</td>
        <td>Yazılım</td>
        <td>Aktif</td>
    </tr>
</table>