@using EntityLayer.Concrete
@model List<Writer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Yazar Adı</th>
        <th>Yazar Soyadı</th>
        <th>Yazar Mail</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.WriterId</td>
            <td>@item.Name</td>
            <td>@item.Surname</td>
            <td>@item.Mail</td>
        </tr>
    }
    
</table>
